### Sebuah Awal

#### Pernyataan

In [4]:
print("Hello World!")

Hello World!

In [5]:
print("Halo Dunia")
print("Riset Bahasa Python")

Halo Dunia
Riset Bahasa Python

In [6]:
# Statement
print("Belajar Python Menyenangkan") 
print("Halo Dunia")
print("Hello World!")
# Variables & Literals
bilangan1 = 5
bilangan2 = 10
kalimat1 = "Belajar Bahasa Python"
# Operators
print(bilangan1 + bilangan2)

Belajar Python Menyenangkan
Halo Dunia
Hello World!
15

#### Variabel

In [7]:
bilangan1 = 20
bilangan2 = 10
print(bilangan1 - bilangan2)

10

In [8]:
harga_asli = 20000
potongan = 2000
harga_setelah_potongan = harga_asli - potongan
harga_final = harga_setelah_potongan * 1.1
print(harga_final)

19800.0

#### Datatypes

In [9]:
## List
contoh_list = [1,'dua', 3, 4.0, 5]
print(contoh_list[0])
print(contoh_list[3])
contoh_list = [1, 'dua', 3, 4.0, 5]
contoh_list[3] = 'empat'
print(contoh_list[3])

1
4.0
empat

In [10]:
## Tuple
contoh_tuple = 'January', 'Februari', 'Maret', 'April'
print(contoh_tuple[0])
contoh_tuple = 'Januari', 'Februari', 'Maret', 'April'
contoh_tuple[0] = "Desember"

January

TypeError: 'tuple' object does not support item assignment

In [12]:
## List
## Tuple
## Set
## Frozenset
contoh_list = ['Dewi','Budi','Cici','Linda','Cici']
print(contoh_list)
contoh_set = {'Dewi','Budi','Cici','Linda','Cici'}
print(contoh_set)
contoh_frozen_set = ({'Dewi','Budi','Cici','Linda','Cici'})
print(contoh_frozen_set)

['Dewi', 'Budi', 'Cici', 'Linda', 'Cici']
{'Budi', 'Dewi', 'Cici', 'Linda'}
{'Budi', 'Dewi', 'Cici', 'Linda'}

In [1]:
## Mapping Type / Dictionary
person = {'nama' : 'John Doe', 'pekerjaan':'Programmer'}
print(person['nama'])
print(person['pekerjaan'])

# Data yang dinyatakan ke dalam dictionary
sepatu = {"nama": "Sepatu Niko", "harga": 150000, "diskon": 30000} 
baju = {"nama": "Baju Unikloh", "harga": 80000, "diskon": 8000} 
celana = {"nama": "Celana Lepis", "harga": 200000, "diskon": 60000}
# Hitunglah harga masing-masing data setelah dikurangi diskon
harga_sepatu = sepatu["harga"] - sepatu["diskon"] 
harga_baju = baju["harga"] - baju["diskon"]
harga_celana = celana["harga"] - celana["diskon"]
# Hitung harga total
total_harga = harga_sepatu + harga_baju + harga_celana
# Hitung harga kena pajak
total_pajak = total_harga * 0.1
# Cetak total_harga + total_pajak
print(total_harga + total_pajak)

John Doe
Programmer
365200.0

# Arithmetic operators (matematika)
 Penambahan (+), 3 + 2 akan menghasilkan output: 5
Pengurangan (-), 4 - 2 akan menghasilkan output: 2
Perkalian (*), 3 * 2 akan menghasilkan output: 6
Pembagian (/), 3 / 2 akan menghasilkan output: 1.5
Modulo atau sisa bagi (%),
3 % 2 akan menghasilkan output: 1
dikarenakan 3 tidak habis dibagi 2 dan menyisakan 1
8 % 2 akan menghasilkan output: 0
dikarenakan 8 habis dibagi 2
Pangkat (**),3 ** 2 akan menghasilkan output: 9
Pembagian dengan pembulatan ke bawah (//),
3 // 2 akan menghasilkan output: 1
dikarenakan 1.5 akan menjadi 1 saat dibulatkan ke bawah

#Assigntment Operator (Mendeklarasikan Nilai langsung ke variabel)
Penambahan (+=),
x = 3
x += 2 ekivalen dengan x = x + 2
akan mengubah nilai x menjadi 5
Pengurangan (-=),
x = 3
x -= 2 ekivalen dengan x = x - 2
akan mengubah nilai x menjadi 1
Perkalian (*=),
x = 3
x *= 2 ekivalen dengan x = x * 2
akan mengubah nilai x menjadi 6
Pembagian (/=),
x = 3
x /= 2 ekivalen dengan x = x / 2
akan mengubah nilai x menjadi 1.5
Modulo/Sisa bagi (%=),
x = 3
x %= 2 ekivalen dengan x = x % 2
akan mengubah nilai x menjadi 1
Pangkat (**=),
x = 3
x **= 2 ekivalen dengan x = x ** 2
akan mengubah nilai x menjadi 9
Pembagian dibulatkan kebawah (//=),
x = 3
x //= 2 sama dengan x = x // 2
akan mengubah nilai x menjadi 1

# Comparison Operator (Membandingkan dua buah nilai)
Persamaan (==),
33 == 33 akan menghasilkan output: True dikarenakan benar 33 sama dengan 33
34 == 33 akan menghasilkan output: False dikarenakan 34 tidak sama dengan 33
Pertidaksamaan (!=),
34 != 33 akan menghasilkan output: True dikarenakan benar bahwa 34 tidak sama dengan 33
33 != 33 akan menghasilkan output: False dikarenakan 33 sama dengan 33
Lebih besar dari (>),
34 > 33 akan menghasilkan output: True dikarenakan 34 lebih besar dari 33
33 > 34 akan menghasilkan output False dikarenakan tidak benar 33 lebih besar dari 34
Lebih kecil dari (<),
33 < 34 akan menghasilkan output True dikarenakan benar 33 lebih kecil dari 34
34 < 33 akan menghasilkan output: False dikarenakan tidak benar 34 lebih kecil dari 33
Lebih besar atau sama dengan (>=),
34 >= 33 akan menghasilkan output True dikarenakan 34 lebih besar dari 33
34 >= 34 akan menghasilkan output True dikarenakan 34 sama dengan 34
33 >= 34 akan menghasilkan output False dikarenakan 33 tidak lebih besar dari 34 dan tidak sama dengan 34
Lebih kecil atau sama dengan (<=),
33 <= 34 akan menghasilkan output True dikarenakan 33 lebih kecil dari 34
33 <= 33 akan menghasilkan output True dikarenakan 34 sama dengan 33
34 <= 33 akan menghasilkan output False dikarenakan 34 tidak lebih kecil dari 33 dan tidak sama dengan 34

#Logical Operators
Operator logical digunakan untuk menggabungkan beberapa nilai kebenaran atas suatu statemen logika
dan - menerima dua nilai kebenaran dan mengembalikan nilai benar jika keduanya benar (and)
x = 5
x >= 1 and x <= 10
akan mengembalikan nilai True
x = 5
x >= 1 and x >= 4
akan mengembalikan nilai False
atau - menerima dua nilai kebenaran dan mengembalikan nilai benar jika salah satu benar (or)
x = 3
x >= 1 or x <= 2
akan mengembalikan nilai True dikarenakan statemen logika pertama terpenuhi
x = 3
x >= 5 or x <= 0
akan mengembalikan nilai False dikarenakan kedua statemen logika tidak terpenuhi (bernilai False)
negasi - menerima sebuah nilai kebenaran dan mengembalikan komplemennya (not)
x = 7
not(x == 7) akan mengembalikan nilai False
not(x >= 10) akan mengembalikan nilai True

#Identity Operators
Operator identitas dapat digunakan untuk membandingkan identitas dari dua buah variabel.
is, Menerima dua buah objek dan mengembalikan nilai True ketika keduanya merujuk pada objek yang sama dan False dalam kondisi lainnya
x = ["Ani", "Budi"]
y = ["Ani", "Budi"]
a = x
print(a is x) akan menampilkan nilai True dikarenakan a dan x merujuk ke objek yang sama
print(a is y) akan menampilkan nilai False dikarenakan a dan y tidak merujuk ke objek yang sama meskipun isi di dalam keduanya sama.
is not, Menerima dua buah objek dan mengembalikan nilai True ketika keduanya merujuk pada objek yang berbeda dan False jika sama
x = ["Ani", "Budi"]
y = ["Ani", "Budi"]
a = x
print(a is not x) akan menampilkan nilai False dikarenakan a dan x merujuk ke objek yang sama
print(a is not y) akan menampilkan nilai   True dikarenakan a dan y tidak merujuk ke objek yang sama

### If Statement Condition

In [1]:
x = 4
if x % 2 == 0: # jika sisa bagi x dengan 2 sama dengan 0
    print("x habis dibagi dua") # statemen aksi lebih menjorok ke dalam
# Statement if ... elif ... else
x = 7
if x % 2 == 0: # jika sisa bagi x dengan 2 sama dengan 0
    print("x habis dibagi dua")
elif x % 3 == 0: # jika sisa bagi x dengan 3 sama dengan 0
    print("x habis dibagi tiga")
elif x % 5 == 0: # jika sisa bagi x dengan 5 sama dengan 0
    print(" x habis dibagi lima")
else:
    print("x tidak habis dibagi dua, tiga ataupun lima")

x habis dibagi dua
x tidak habis dibagi dua, tiga ataupun lima

### Python Primitive Loop Control

In [3]:
tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
i = 0
jumlah_tagihan = len(tagihan)
total_tagihan = 0
while i < jumlah_tagihan:
    # jika terdapat tagihan ke-i yang bernilai minus (di bawah nol),
    # abaikan tagihan ke-i dan lanjutkan ke tagihan berikutnya
    if tagihan[i] < 0:
        i += 1
        continue
    total_tagihan += tagihan[i]
    i += 1
print(total_tagihan)

750000

In [4]:
# Python for loops
list_tagihan = [50000, 75000, -150000, 125000, 300000, -50000, 200000]
total_tagihan = 0
for tagihan in list_tagihan: # untuk setiap tagihan dalam list_tagihan
    total_tagihan += tagihan # tambahkan tagihan ke total_tagihan
print(total_tagihan)

550000